body {
  font-family: sans-serif;
  margin: 0;
}

.header {
   display: flex;
   flex-direction: column;
   background-color: rgb(54, 53, 53);
   position: sticky;
   max-width: 100%;
   top: 0px;
}

.headline {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-left: 10px;
}

.searchbar {
  display: flex;
  max-width: 1080px;
  justify-content: center;
  align-items: center;
}

.searchbar > input {
  width: 18rem;
  height: 2rem;
  border-radius: 25px;
  border: 2px solid black;
  margin-right: 5px;
}

.searchbar > button {
  border: 1px solid black;
  border-radius: 6px;
  height: 2rem;
  width: 2rem;
  padding: 5px;
  box-shadow: 1px;
  cursor: pointer;
}

.filters {
  color: white;

}

.now-playing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


/* CSS for card components */

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}

.card-poster {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-overview {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
}

.read-more {
  background-color: rgb(8, 8, 128);
  color: white;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}
